form {
    min-width: 26rem;
    input {
        min-width: 26rem;
        min-height: 1.6rem;
        padding: 0.4rem;
        display: block;
        background-color: $dark-grey;
        border: 0px;
        border-radius: 4px;
    }
    label {
        min-width: 26rem;
        display: block;
        margin-top: 1rem;
    }
    textarea {
        min-height: 6rem;
        min-width: 26rem;
        padding: 0.4rem;
        display: block;
        background-color: $dark-grey;
        border: 0px;
        border-radius: 4px;
   }

   button {
    background-color: $dark-grey;
    border: 1px solid $text;
    border-radius: 4px;
    margin-top: 1rem;
    padding: 0.4rem;
    min-width: 5rem;
   }

}